input{
    width: 20%;
    padding: 20px 25px ;
    box-sizing: border-box;
    border-radius: 2px;
    border: none;
    border-bottom: 2px dotted black;
    background-color: lightgreen;
}
input[type=text]{
    width: 20%;
    padding: 20px 25px ;
    box-sizing: border-box;
    border-radius: 2px;
    border: none;
    border-bottom: 2px dotted black;
    background-color: lightblue;
}
input[type=password]{
    width: 20%;
    padding: 20px 25px ;
    box-sizing: border-box;
    border-radius: 2px;
    border: none;
    border-bottom: 2px dotted black;
    background-color: lightslategray;
}
form{
    margin: 200px 0 0 200px;
}
body{
    background-color: cyan;
    color: black;
}