p{color:blue;
    font-size: 20px;text-align: center;}
/* automatically clear the next sibling after a floating element */
#r1{color:green;}
#r2{color:orange;}
.r3{color:black;}
.r4{color:gray;}
h1.r5{color:violet;}
body {
  background-color: lightgoldenrodyellow;
}





