body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat-container {
    border: 1px solid #000; /* Black border */
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2); /* Adding a subtle shadow for depth */
}

#chat-log {
    height: 300px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 10px;
    margin-bottom: 10px; /* Added to give some space between the chat log and the input */
}

#user-input {
    width: 86%;
    padding: 5px;
    margin-bottom: 5px; /* Added to give some space between the input and the button */
}

.chat-image {
    max-width: 100%;
    max-height: 300px; /* same as the height of the chat-log */
    display: block;
    margin: 0 auto; /* centering the image */
}
