.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1555066931-4365d14bab8c');
    background-size: cover;
    background-position: center;
  }
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px; /* reduced padding */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin: auto;
    width: 25%;
  }